.card {
    font-family: 'EB Garamond', serif;
    border: 0;
}

.estate-title {
    font-family: 'EB Garamond', serif;
    padding-bottom: 8px;
}

.estate-body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #202B30;
}

.contact-icon {
    margin: 0;
    display: inline-block;
    width: 32px;
    cursor: pointer;
}

img {
	padding-bottom: 20px;
}

broker-master {
    padding-top: 5px;
}