<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-10 sort-header">{{sortHeader}}</div>
    </div>
    <div class='row'>
        <div class="col-sm-12 offset-md-1 col-md-10">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-secondary search-btn2" id="dropdownMenu" ngbDropdownToggle>{{dropdownTitle}}</button>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu">
                    <button *ngFor="let option of options" class="dropdown-item" (click)="viewMode = option.sorting" (click)="dropdownTitle = option.text">{{option.text}}</button>
                </div>
            </div>
            <div class="breaker-top"></div>
            
        </div>
    </div>


    <div class="row estate-content" *ngFor="let estate of estates[currentEstates] | orderBy: [viewMode]">
        <div class="col-xs-12 col-sm-12 offset-md-1 col-md-5">
            <a [routerLink]="['/estate', estate.id]">
                <div class="card wide-card">
                    <div class="img-no-card-border">
                        <img class="img-fluid img-styled" src="../images/estates/{{estate.img_master}}" alt="{{estate.address}}">
                    </div>
                    <div *ngIf="!estate.on_sale">
                        <button class="sold-button">{{saleTag}}</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-5">
            <div class="card wide-card">
                <div class="card-block">
                    <p class="card-text date-posted"><span>{{tags[3]}} {{estate.date_added | date:'dd MMM yyyy' }}</span></p>
                    <h3 class="card-title">{{estate.address }}</h3>
                    <h3 class="card-title">{{estate.area }}</h3>
                    <p class="card-text">{{estate.rooms }} {{tags[0]}}</p>
                    <p class="card-text">{{estate.space}} {{tags[1]}}</p>
                    <p class="card-text">{{tags[2]}} <span>{{estate.price | number }} kr</span></p>
                    <a [routerLink]="['/estate', estate.id]" class=" btn btn-primary buttons drop-shadow">{{tags[4]}}</a>
                </div>
            </div>
        </div>

        <div class="breaker hidden-sm-up"></div>
    </div>
</div>
