.card {
    font-family: 'EB Garamond', serif;
}

.wide-card {
    border: 0;
}

.card-title {
    color: #BDBDBD;
    font-size: 36px;
    margin-bottom: 8px;
}

.card-title:first-of-type {
    color: #202B30;
}

.card-text {
    font-size: 22px;
    margin-bottom: 6px;
}

.card-text > span {
    font-family: 'Roboto', sans-serif;
    color: #4FA9B8;
    font-size: 24px;
}

.buttons {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background: #4FA9B8;
    border-color: #4FA9B8;
    border-radius: 0;
    padding: 15px 25px;
    margin-top: 8px;
}

.breaker {
    width: 86%;
    margin: 0 auto;
    height: 1px;
    background: #EFE9E5;
    margin-top: 24px;
}

.small-print {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 14px 0px;
}

.img-no-card-padding {
    padding: 0;
}

.img-styled { margin: 20px 0; }

/* 

    SORTING:

*/ 

.sort-header { 
    padding-top: 20px;
    padding-bottom: 6px;
    }

.btn-outline-secondary:hover{
    color:black;
}

#dropdownMenu {
    border:1px solid #CCCCCC;
    background-color: #F5F5F5;
    color:black;
    // width:200px;
    // text-align: left;
}

.dropdown-item:hover {
    background-color:#CCCCCC;
    color:black;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    border-radius: 0;
    width:100%;
}

.search-btn2 {
    border-radius: 0;
}

.breaker-top {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: #EFE9E5;
    margin-top: 24px;
}



@media screen and (max-width: 500px) {}
