<img class="img-fluid" src="../images/estates/{{estate.img_detail}}" alt="{{estate.address}}">

<div class='container'>
    <div class="row">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="/front-page">{{breadcrumbs[0]}}</a>
            <a class="breadcrumb-item" routerLink="/buy-page">{{breadcrumbs[1]}}</a>
            <a class="breadcrumb-item active" routerLink="/estate/{{estate.id}}">{{estate.address}}</a>
        </nav>
    </div>

        <div class='row'>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">{{estate.address}}</h3>
                        <h3 class="card-title">{{estate.area }}</h3>
                        <p class="card-text">{{tags[0]}} <span>{{estate.rooms}} {{tags[1]}}</span></p>
                        <p class="card-text">{{tags[2]}} <span>{{estate.space}} {{tags[3]}}</span></p>
                        <p class="card-text">{{tags[4]}} <span>{{estate.year}}</span></p>
                        <p class="card-text">{{tags[13]}} <span>{{estate.date_added | swedate: '-'}}</span></p>
                        <div class="breaker"></div>
                        <p class="card-text">{{tags[5]}}</p>
                        <h3 class="pricing">{{estate.price | spacingCurrency}} {{tags[6]}}</h3>
                        <div class="next-content">
                            <div class="next-heading">
                                <h5>{{tags[7]}} <br>
                                    <span>
                                        {{estate.next_date | swedate: '+'}}
                                    </span>
                                </h5>
                            </div>
                            <div class="next-contact">
                                <a (click)="globalMem.openModal()">{{tags[8]}}</a>
                            </div>
                        </div>
                        <div class="back-arrow">
                            <i class="fa fa-arrow-left" (click)="backClicked()" aria-hidden="true"><span class="more-estates">{{tags[9]}}</span></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-5">
                <div class="card">
                    <div class="card-block">
                        <h3 class="estate-title">{{estate.title}}</h3>
                        <div *ngIf="!estate.on_sale">
                            <button class="sold-button">{{sale | uppercase }}</button>
                        </div>
                        <p class="estate-body">{{estate.body}}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <div class="card-block">
                        <div class="broker-body" *ngFor="let broker of estate.broker">
                            <img class="img-fluid broker-img" src="/images/brokers/{{broker.img}}">
                            <p>{{tags[10]}}</p>
                            <p>{{broker.name}}</p>
                            <p>{{tags[11]}} {{broker.phone}}</p>
                            <p>{{tags[12]}} {{broker.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>

         <div class='row'>
            <div class="col-sm-12 col-md-12">
                <img class="img-fluid my-pictures" src="/images/estates/detail/{{estate.alt_1}}" alt="interior of {{estate.address}}">
                <br><br>
                <img class="img-fluid my-pictures" src="/images/estates/detail/{{estate.alt_2}}" alt="interior of {{estate.address}}">
            </div>
         </div>
</div>
