.search-color {
	background-color: #F17E19;
	color:white;
	padding-bottom: 15px;
}

.search-box {
	padding: 0 50px;
}

.search-text {
	padding-top:15px;
	margin:0;
}

.search-text {
	font-size: 16px;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

	.search-box {
	    padding: 0;
	}

	.search-text {
		font-size: 14px;
		margin-bottom: 10px;
	}
}
