/*  Get rid of blue border in focus mode */ 
button:focus, li:focus { outline: none; border: 0; }

a {
	font-size: 14px;
	color: #4FA9B8;
	padding: 0px 14px;
}

.pager-thing { width: 100%; }

.left-prev{ width: 50%; }

.prev-area { font-size: 14px; }

.prev-area > span { color: #4FA9B8; }

.right-next{
	width: 50%;
	text-align: right;
}

.next-area {
	color: #202B30;
	font-size: 14px;
}

.next-area > span { color: #4FA9B8; }

.divider {
	height: 1px;
	width: 100%;
	background: #BDBDBD;
	margin: 10px 0 20px;
}

.list-title {
	text-transform: uppercase;
	color: #4FA9B8;
	font-size: 26px;
	margin-bottom: 10px;
}