<div class="hidden-md-down col-lg-12">
    <div class="left-panel">
        <div class='row'>
        </div>
        <div class='row link-display'>
            <div class='col-xs-12'>
            <h5 class="list-title">{{title}}</h5>
                <blockquote>
                    <ul class="guide-list" *ngFor="let guide of guides | orderBy: [viewMode]">
                        <li [routerLink]="['/guide', guide.id]">
                            {{guide.title}}
                        </li>
                    </ul>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="hidden-lg-up col-12">
    <div class='guide-pager'>
        <h5 class="pager-title">{{title}} </h5>
        <div class="pager-area">sida<span class="pager-list" *ngFor="let guide of guides | orderBy: [viewMode]">
	    <a [routerLink]="['/guide', guide.id]">
	        {{guide.id}}
	    </a>
	</span></div>
    </div>
    <div class="divider"></div>
</div>
