.spacer {
	margin-top: 12vh;
}

img {
	width: 100%;
	display: inline-block;
}

a {
	color: #202B30;
}


.right-panel {
	margin-bottom: 10vh;
}


.sell-subtitle {
    font-family: 'EB Garamond', serif;
}

.guide-subtitle {
    font-family: 'EB Garamond', serif;
    color: #4FA9B8;
}


.sell-content {
    font-size: 0.9em;
    color: #BDBDBD;
}