/*  Get rid of blue border in focus mode */ 
button:focus, li:focus { outline: none; border: 0; }

img {
	width: 100%;
	display: inline-block;
}

a {
	font-size: 14px;
	color: #4FA9B8;
	padding: 0px 10px;
}


.list-title {
	text-transform: uppercase;
	color: #4FA9B8;
	font-size: 26px;
	margin-bottom: 20px;
}

.line-vertical {
	width: 1px;
	background: #BDBDBD;
	height: 100%;
}

.guide-list {
	font-size: 15px;
	color: #4FA9B8;
	padding: 6px 0 0 10px;
	cursor: pointer;
	list-style: none;
}

.guide-list:first-of-type { padding: 0 0 0 10px; }

blockquote {
  border-left: 1px solid #ccc;
  padding: 0.5em 10px;
}

.guide-pager {
	width: 100%;
	text-align: center;
}


.pager-area {
	font-size: 14px;
	color: #4FA9B8;
}

.pager-title {
	text-transform: uppercase;
	color: #4FA9B8;
	font-size: 26px;
	margin-bottom: 10px;
}

.divider {
	height: 1px;
	width: 100%;
	background: #BDBDBD;
	margin: 16px 0 30px;
}

.pager-list {
	display: inline-block;
}

.pager-list > li {
	font-size: 14px;
	color: #4FA9B8;
	cursor: pointer;
}