/*  Get rid of blue border in focus mode */ 
button:focus, li:focus { outline: none; border: 0; }

.guide-pager {
	// background: red;
	width: 100%;
	text-align: center;
}

a {
	font-size: 14px;
	color: #4FA9B8;
	padding: 0px 14px;
}

.pager-area {
	font-size: 14px;
	color: #4FA9B8;
}

.divider {
	height: 2px;
	width: 100%;
	background: #95989A;
	margin: 10px 0 20px;
}

.list-title {
	text-transform: uppercase;
	color: #4FA9B8;
	font-size: 26px;
	margin-bottom: 10px;
}

.guide-list {
	display: inline-block;
}

.guide-list > li {
	font-size: 14px;
	color: #4FA9B8;
	cursor: pointer;
}