/*  Get rid of blue border in focus mode */ 
button:focus, li:focus { outline: none; border: 0; }

img {
	width: 100%;
	display: inline-block;
}

a { color: #4FA9B8; }


.list-title {
	text-transform: uppercase;
	color: #4FA9B8;
	font-size: 26px;
	margin-bottom: 20px;
}

.line-vertical {
	width: 2px;
	background: #95989A;
	height: 100%;
}

.guide-list {
	font-size: 15px;
	color: #4FA9B8;
	padding: 6px 0 0 10px;
	cursor: pointer;
	list-style: none;
}

.guide-list:first-of-type { padding: 0 0 0 10px; }

blockquote {
  border-left: 1px solid #ccc;
  padding: 0.5em 10px;
}