.sort-me {
	margin: 0 50px;
	padding: 35px 0;
	border-bottom: 3px solid #EFE9E5;;
}

.sort-pad {
	padding:0;
}

.btn-outline-secondary:hover{
	color:black;
}

#dropdownMenu {
	border:1px solid #CCCCCC;
	background-color: #F5F5F5;
	color:black;
	width:200px;
	text-align: left;
}

.dropdown-item:hover {
	background-color:#CCCCCC;
	color:black;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    border-radius: 0;
    width:100%;
}

.search-btn2 {
	border-radius: 0;
}
