.card {
    font-family: 'EB Garamond', serif;
    border: 0;
}

.about-broker {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #4FA9B8;
}

.broker-body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #BDBDBD;
}

.broker-body > p {
    margin-bottom: 0;
}

.broker-img {
    padding-bottom: 20px;
}
