.card {
    font-family: 'EB Garamond', serif;
    border: 0;
}

span {
    font-size: 15px;
}

.smaller {
    font-size: 14px;
}

.shaper {
    height: 260px;
}

.about-broker {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 14px;
    padding: 20px;
    background: #f7f7f7;
    width: 100%;
    margin: 20px 0;
}

.broker-content{
    padding: 10px 20px 0 20px;
}

.broker-body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #BDBDBD;
}

.broker-body > p {
    margin-bottom: 0;
}

.broker-img {
    width: 100%
}


@media screen and (max-width: 991px) {
    
    .about-broker {
        font-size: 15px;
    }

    .shaper {
        height: 158px;
    }
    

}