.card {
    font-family: 'EB Garamond', serif;
}

.wide-card {
    border: 0;
}

.card-title {
    color: #BDBDBD;
    font-size: 36px;
    margin-bottom: 8px;
}

.card-title:first-of-type {
    color: #202B30;
}

.blued {
    font-family: 'Roboto', sans-serif;
    color: #4FA9B8;
    font-size: 24px;
}

.card-text {
    font-size: 22px;
    margin-bottom: 6px;
}


.buttons {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background: #4FA9B8;
    border-color: #4FA9B8;
    border-radius: 0;
    padding: 15px 25px;
    margin-top: 8px;
}

.breaker {
    width: 86%;
    margin: 0 auto;
    height: 1px;
    background: #EFE9E5;
    margin-top: 24px;
}

.small-print {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 14px 0px;
}

.img-no-card-padding {
    padding: 0;
}

.img-styled { margin: 20px 0; }

.date-posted > span {
    font-family: 'Roboto', sans-serif;
    color: #202B30; 
    background: #EFE9E5;
    font-size: 12px;
    padding: 7px;
}

/* 

    SORTING:

*/ 

.sort-header { 
    padding-top: 20px;
    padding-bottom: 6px;
    }

.btn-outline-secondary:hover{
    color:black;
}

#dropdownMenu {
    border:1px solid #CCCCCC;
    background-color: #F5F5F5;
    color:black;
}

.dropdown-item:hover {
    background-color:#CCCCCC;
    color:black;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    border-radius: 0;
    width:100%;
}

.search-btn2 {
    border-radius: 0;
}

.breaker-top {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: #EFE9E5;
    margin-top: 24px;
}

.sold-button {
    border: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: #F17E19;
    opacity: 0.9;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .sold-button {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 900px) {
    .sold-button {
        width: 140px;
        height: 140px;
        font-size: 26px;
        top: 8px;
        right: -8px;
    }
}
