// Custom Navbar styling
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
  }

a {
    color: #EFE9E5;
    text-decoration: none;
}

.active {
    font-weight: 500;
    border-bottom: 1px solid #4FA9B8
  }

.bg-navbar {  background: #F5F5F5 }

.header-links {  margin: 0 auto; }

.nav-item {  font-size: 18px; padding-right: 50px;}

.logo-big {
  margin: 0 auto;
  width: 200px;
}

.icon-content {
  margin: 0;
  width: 180px;
}

.search-icon {
  display: inline-block;
  font-size: 26px;
  padding-right: 30px;
  color: #BDBDBD;
}

.contact-icon {
  margin: 0;
  display: inline-block;
  width: 32px;
}


// ====================================

@media screen and (max-width: 500px) {

  .logo-big {
  margin: 6px auto 0;
  width: 160px;
}

}