/*  Get rid of blue border in focus mode */ 
img:focus, i:focus, button:focus, li:focus { outline: none; border: 0; }

/* Remove hamburger border */
.navbar-light .navbar-toggler { border-color: rgba(0, 0, 0, 0); }

.bg-navbar { background: #F5F5F5 }

.active { 
    color: #202B30; 
    font-weight: 300; 
    text-decoration: underline;
    -moz-text-decoration-color: #4FA9B8; /* Code for Firefox */
    text-decoration-color: #4FA9B8;
}

.links-content {
    margin: 0 auto;
    
}

.nav-link {
    color: #EFE9E5; 
    font-weight: 400; 
    margin: 0 auto;
    font-size: 18px;
}

.logo-big {
    margin: 0 auto;
    width: 236px;
    padding-left: 22px;
    cursor: pointer;
}

.icon-content {
    margin: 0;
}

.search-icon {
    display: inline-block;
    font-size: 26px;
    padding-right: 30px;
    color: #BDBDBD;
    cursor: pointer;
}

.contact-icon {
    margin: 0;
    display: inline-block;
    width: 32px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .logo-big {
        width: 158px;
        padding-left: 0;
        margin: 4px auto;
    }
}