/*  Get rid of blue border in focus mode */ 
img:focus, i:focus, button:focus, li:focus { outline: none; border: 0; }

.navbar-light .navbar-toggler { border-color: rgba(0, 0, 0, 0); }

a {  color: #EFE9E5; }

a:hover { font-weight: bold; color: #202B30; }

.bg-navbar { background: #F5F5F5 }

.header-links {
    margin: 0 auto;
    width: 400px;
}

.nav-link {
    margin-left: 60px;
    margin: 0 auto;
    font-size: 18px;
}

.logo-big {
    margin: 0 auto;
    width: 236px;
    padding-left: 22px;
}

.icon-content {
    margin: 0;
    width: 180px;
}

.search-icon {
    display: inline-block;
    font-size: 26px;
    padding-right: 30px;
    color: #BDBDBD;
}

.contact-icon {
    margin: 0;
    display: inline-block;
    width: 32px;
}

@media screen and (max-width: 500px) {

    .logo-big {
        width: 158px;
        padding-left: 0;
        margin: 4px auto;
    }
}