/* CUSTOM COLOR-SCHEME:
--------------------------------
darker-white: #F5F5F5
light-grey: #EFE9E5
grey: #BDBDBD
black: #202B30
blue: #4FA9B8
orange: #F17E19
*/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: #FFF;
	overflow-x: hidden;
}

input, textarea { font-family: 'Roboto', sans-serif !important; }

.headlines { font-family: 'EB Garamond', serif; }

.modal-backdrop.show { opacity: 0.8; }

#dropdownMenu, .dropdown-item, .input[type=text] { font-family: 'Roboto', sans-serif; }

// Button Shadow w/hover.

.drop-shadow { box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 1px 5px rgba(0,0,0,0.22); }

.drop-shadow:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}


/* Master Styles */

h1 { font-size: 250%;}

h2, h3 { font-weight: lighter;}

/* Sticky footer CSS */

html {
  position: relative;
  min-height: 100%;
}

body {  margin-bottom: 120px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 659px) {
    .footer {
      height: 180px;
    }
}
